@font-face {
  font-family: "vazirmatn";
  src: url(../public/Vazirmatn/Vazirmatn-VariableFont_wght.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "vazirmatn";
  src: url(../public/Vazirmatn/static/Vazirmatn-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "vazirmatn";
  src: url(../public/Vazirmatn/static/Vazirmatn-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "vazirmatn";
  src: url(../public/Vazirmatn/static/Vazirmatn-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "vazirmatn";
  src: url(../public/Vazirmatn/static/Vazirmatn-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "vazirmatn";
  src: url(../public/Vazirmatn/static/Vazirmatn-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "vazirmatn";
  src: url(../public/Vazirmatn/static/Vazirmatn-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "vazirmatn";
  src: url(../public/Vazirmatn/static/Vazirmatn-Thin.ttf);
  font-weight: 100;
}

:root {
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: "vazirmatn";
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  scrollbar-width: thin !important;
  scrollbar-color: red gray !important;
}
@keyframes lineMove {
  0% {
    right: 0%;
  }
  100% {
    right: 100%;
  }
}

@keyframes dot5 {
  0%,
  11% {
    background-color: gray;
  }
  12%,
  100% {
    background-color: blue;
  }
}

@keyframes dot4 {
  0%,
  30% {
    background-color: gray;
  }
  31%,
  100% {
    background-color: blue;
  }
}

@keyframes dot3 {
  0%,
  50% {
    background-color: gray;
  }
  51%,
  100% {
    background-color: blue;
  }
}

@keyframes dot2 {
  0%,
  70% {
    background-color: gray;
  }
  71%,
  100% {
    background-color: blue;
  }
}

@keyframes dot1 {
  0%,
  89% {
    background-color: gray;
  }
  90%,
  100% {
    background-color: blue;
  }
}

.navlink {
  position: relative;
  text-decoration: none;
}

.navlink::after {
  content: "";
  position: absolute;
  bottom: -3px; /* Adjust position below the text */
  left: 50%;
  transform: translateX(-50%);
  width: 5px; /* Dot size */
  height: 5px;
  background-color: transparent; /* Hidden by default */
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.navlink.active::after {
  background-color: #fafafa; /* Highlighted dot color */
}

.animate-line {
  animation: lineMove 10s linear infinite reverse;
  position: absolute;
  animation-delay: 1s;
}

.animate-dot-1 {
  animation: dot1 10s linear infinite;
  animation-delay: 1s;
}

.animate-dot-2 {
  animation: dot2 10s linear infinite;
  animation-delay: 1s;
}

.animate-dot-3 {
  animation: dot3 10s linear infinite;
  animation-delay: 1s;
}

.animate-dot-4 {
  animation: dot4 10s linear infinite;
  animation-delay: 1s;
}

.animate-dot-5 {
  animation: dot5 10s linear infinite;
  animation-delay: 1s;
}
@keyframes iconScale1 {
  0%,
  11% {
    transform: scale(1);
  }
  12%,
  100% {
    transform: scale(1.3);
  }
}

@keyframes iconScale2 {
  0%,
  30% {
    transform: scale(1);
  }
  31%,
  100% {
    transform: scale(1.3);
  }
}

@keyframes iconScale3 {
  0%,
  50% {
    transform: scale(1);
  }
  51%,
  100% {
    transform: scale(1.3);
  }
}

@keyframes iconScale4 {
  0%,
  70% {
    transform: scale(1);
  }
  71%,
  100% {
    transform: scale(1.3);
  }
}

@keyframes iconScale5 {
  0%,
  89% {
    transform: scale(1);
  }
  90%,
  100% {
    transform: scale(1.3);
  }
}

.animate-icon-1 {
  animation: iconScale1 10s linear infinite;
  animation-delay: 1s;
}

.animate-icon-2 {
  animation: iconScale2 10s linear infinite;
  animation-delay: 1s;
}

.animate-icon-3 {
  animation: iconScale3 10s linear infinite;
  animation-delay: 1s;
}

.animate-icon-4 {
  animation: iconScale4 10s linear infinite;
  animation-delay: 1s;
}

.animate-icon-5 {
  animation: iconScale5 10s linear infinite;
  animation-delay: 1s;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ::-webkit-scrollbar {
  width: 1px;
  height: 9px;
  border: 1px solid #2fbd8e;
}

::-webkit-scrollbar-track {
  border-radius: 0;
  background: #ff0000;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #ff0000;
} */

/* For WebKit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: gray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: darkred;
}

/* For Firefox */
body,
.my-scrollable-element {
  scrollbar-width: thin !important;
  scrollbar-color: red gray !important;
}
