@font-face {
  font-family: "vazirmatn";
  src: url(../public/Vazirmatn/Vazirmatn-VariableFont_wght.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "vazirmatn";
  src: url(../public/Vazirmatn/static/Vazirmatn-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: "vazirmatn";
  src: url(../public/Vazirmatn/static/Vazirmatn-ExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: "vazirmatn";
  src: url(../public/Vazirmatn/static/Vazirmatn-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "vazirmatn";
  src: url(../public/Vazirmatn/static/Vazirmatn-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "vazirmatn";
  src: url(../public/Vazirmatn/static/Vazirmatn-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "vazirmatn";
  src: url(../public/Vazirmatn/static/Vazirmatn-SemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "vazirmatn";
  src: url(../public/Vazirmatn/static/Vazirmatn-Thin.ttf);
  font-weight: 100;
}

:root {
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0;
  padding: 0;
  direction: rtl;
  font-family: "vazirmatn";
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
